DATABASE_HOST=192.168.0.105
DATABASE_NAME=cruisebd
DATABASE_USER=root
DATABASE_PASS=
DATABASE_PORT=3306
DATABASE_SYNC=true
IMAGE_BB_API_KEY=
#related information's can be found on html2pdf.com
HTML_2_PDF_API_KEY=